/DartsData.class
/Spieler.class
/Wurf.class
/Farbe.class
/DartboardMathModel.class
/Player.class
/Colors.class
/KeyPair.class
/IntegerKeyPair.class
/ColorAndTextCellRenderer.class
/ColorIcon.class
/Dart.class
/Throw.class
/MathVector.class
